<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new author</title>
</head>
<body>

<h1>ADD REMOVE AUTHORS</h1>


<h2>Remove authors</h2>
<label for="authors">Choose a autor:</label>
<select name="author" id="authors" form="add_author_form">
  {% for a in authors %}
  <option value="{{ a.author_id }}">{{ a.full_name }}</option>
  {% endfor %}
</select>

<br>
<form action="/cgi-bin/add_author.py" id="add_author_form">
    <input type="submit" value="remove">
</form>


<br>
<h2>Add author</h2>
<form action="/cgi-bin/add_author.py">
  <label for="first_name">First name:</label>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label for="last_name">Last name:</label>
  <input type="text" id="last_name" name="last_name"><br><br>
  <input type="submit" value="Submit">
</form>

<h1><a href="/cgi-bin/menu.py">Back_to-menu</a></h1>



</body>
</html>