<!DOCTYPE html>
  <html lang="en">
<head>
    <title>Title</title>
</head>
<body>

    <h1>Hello {{ email }}</h1>
    <h1><a href="/cgi-bin/logout.py">logout</a></h1>
    <h1><a href="/cgi-bin/add_book.py">+ ADD NEW BOOK</a></h1>
    <h1><a href="/cgi-bin/add_author.py">+/- ADD/REMOVE NEW AUTHOR</a></h1>


    <br>
    <br>
    <br>
    <h1>Books in DB</h1>:
    {% for b in books %}

    <h3>{{ b.title }}</h3>
    <b>Author:</b> {{ b.authors }}</p>
    <p><b>Description</b>: {{ b.description }}</p>
    <p>Price: {{ b.price }}</p>
    <br>
    {% endfor %}

</body>
</html>